<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>{{ gericht.name }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand mx-auto" href="#">Mama Doo AI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shopping-list">Einkaufsliste</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>{{ gericht.name }}</h1>
        <p><strong>Bewertung:</strong> {{ gericht.rating }}</p>
        <p><strong>Sättigung:</strong> {{ gericht.satt }}</p>
        <p><strong>Schwierigkeit:</strong> {{ gericht.difficulty }}</p>
        <p><strong>Gesund:</strong> {{ gericht.gesund }}</p>
        <p><strong>Wann:</strong> {{ gericht.wann }}</p>
        <p><strong>Thermomix:</strong> {{ gericht.thermomix }}</p>
        <p><strong>Mama Benötigt:</strong> {{ gericht.mamaBenötigt }}</p>
        <p><strong>Extra Infos:</strong> {{ gericht.extraInfo }}</p>
        <p><strong>Zutaten:</strong></p>
        <ul class="list-group list-group-flush">
            {% for zutat in gericht.zutaten %}
            <li class="list-group-item">{{ zutat.name }}</li>
            {% endfor %}
        </ul>

        <form action="/add-date" method="post" class="mt-4">
            <div class="form-group">
                <label for="date">Datum auswählen:</label>
                <input type="date" id="date" name="date" class="form-control" required>
                <input type="hidden" name="gericht_name" value="{{ gericht.name }}">
            </div>
            
            <button type="submit" class="btn btn-primary">Eintragen</button>
        </form>

        <div class="text-center mt-4">
            <a href="/submit" class="btn btn-secondary">Zurück</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
